<app-loader [isVisible]="isLoading"></app-loader>
<app-header></app-header>

<div class="body">

    <app-nav-bar></app-nav-bar>

    <div class="perm-container">
        <p-card>
            <div class="card">
                <div class="header">
                    <div>
                        <p style="font-size: 14px; font-weight: 580; margin-left: 8px;">User Details</p>
                    </div>
                    <div>
                        <div style="display: inline-flex; margin-top: 5px; margin-right: 10px; position: relative;">
                            <div style="margin-right: -4px;"><p-inputSwitch class="custom-inputswitch"
                                    (click)="searchBar()"></p-inputSwitch>
                            </div>
                            <p style="font-size: 9px; margin-right: 5px;">|</p>

                            <i class="pi pi-bars px-1" style="font-size: 0.9rem;cursor: pointer;"
                                (click)="toggleRowsPerPageOptions()"></i>

                            <div *ngIf="showRowsPerPageOptions" class="rows-per-page-options">
                                <ul>
                                    <li *ngFor="let option of rowsPerPageOptions">
                                        <p class="rowsPerPageButton" (click)="onRowsPerPageChange(option)">Show {{
                                            option }}</p>
                                    </li>
                                </ul>
                            </div>


                            <i class="pageSelectedBox">{{ rowsPerPageSelected }}</i>
                        </div>
                    </div>
                </div>

                <p-toast></p-toast>
                <div class="table">

                    <p-table #dt [value]="userDetails" dataKey="id" [rows]="rows" [showCurrentPageReport]="true"
                        styleClass="p-datatable-customers" [paginator]="userDetails.length === 0 ? false : true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [filterDelay]="0" [globalFilterFields]="['username','mail']">
                        <ng-template pTemplate="header" class="heading">
                            <tr style="border: 2px solid #c5cceb;">
                                <th style="width:28%">User Name<i (click)="sortUserName()" class="pi pi-sort"
                                        style="margin-left: 6px; font-size: 9px; width: 12px; height: 12px;"></i>
                                </th>
                                <th style="width:28%">Mail Is<i class="pi pi-sort" (click)="sortUserEmail()"
                                        style="margin-left: 6px; font-size: 9px; width: 12px; height: 12px;"></i></th>
                                <th style="width:28%">Is managable</th>
                                <th style="width: 7%;"></th>
                                <th style="width:7%"></th>
                            </tr>
                            <tr style="border: 2px solid #c5cceb;" *ngIf="checked">
                                <th>
                                    <input pInputText type="text"
                                        (input)="dt.filter($event.target.value, 'name', 'startsWith')"
                                        placeholder="Search by Name" class="p-column-filter">
                                </th>
                                <th>
                                    <input pInputText type="text"
                                        (input)="dt.filter($event.target.value, 'email', 'startsWith')"
                                        placeholder="Search by Email" class="p-column-filter">
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-user>
                            <tr>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <p-inputSwitch class="custom-dialogInputswitch"
                                        [(ngModel)]="user.permission"></p-inputSwitch>

                                <td>
                                    <button type="button" pButton pRipple class="btn btn-save" class="saveButton"
                                        (click)="saveDetails(user.id, user)">Save</button>
                                </td>
                                <td>
                                    <i class="pi pi-trash" style="font-size: 1rem; margin-top: 4px; margin-left: -15px;"
                                        (click)="showDeleteDialog('top')"></i>
                                    <!-- delete dialog -->
                                    <p-dialog [(visible)]="deleteDialogVisible" [position]="position"
                                        [style]="{'margin-top.px': 60}">
                                        <div style="padding: 10px 10px;">
                                            <div style="display: flex; justify-content: center"><i
                                                    class="pi pi-question-circle"></i></div>
                                            <p style="display: flex; justify-content: center; margin-top: 5px;">Do you
                                                want to delete this record?</p>
                                            <div style="display: flex; justify-content: flex-end;">
                                                <button type="button" class="noButton"
                                                    (click)="deleteCanceled()">No</button>
                                                <button type="button" class="yesButton"
                                                    (click)="deleteUser(user.id)">Yes</button>
                                            </div>
                                        </div>
                                    </p-dialog>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td style="font-size: 15px; padding: 5px 20px;">No records found.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft">
                            <input class="goInp" [(ngModel)]="goToNumber" type="text" />
                            <button class="go" (click)="goFunctionality(goToNumber)">GO</button>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-card>
    </div>
</div>