<div class="container">
    <div class="nav-bar">
        <ul>
            <li *ngIf="isAdminLogged" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/Permission">Permission</a></li>
            <li *ngIf="isAdminLogged" routerLinkActive="active"><a routerLink="/Configuration">Configuration</a></li>
            <li *ngIf="isUserLogged" routerLinkActive="active"><a routerLink="/Services">Services</a></li>
            <li *ngIf="isUserLogged" routerLinkActive="active"><a routerLink="/CleanUp">CleanUp</a></li>
        </ul>
    </div>
</div>
