<div class="container">
    <div class="nav-bar">
        <ul>
            <li routerLink="/Permission" *ngIf="isAdminLogged" routerLinkActive="active"><a >Permission</a></li>
            <li routerLink="/Configuration" *ngIf="isAdminLogged" routerLinkActive="active"><a>Configuration</a></li>
            <li routerLink="/Services" *ngIf="isUserLogged" routerLinkActive="active"><a>Services</a></li>
            <li routerLink="/CleanUp" *ngIf="isUserLogged" routerLinkActive="active"><a>CleanUp</a></li>
        </ul>
    </div>
</div>
