.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 100vh;
}

.div2 {
  background-color: #F8F8F8;
  padding: 20px;
  border-radius: 20px;
}

.div1 {
  padding: 20px;
}

.logo {
  text-align: center;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 22px); 
  box-sizing: border-box;
  border: 1px solid #1E2E6F;
  border-radius: 4px;
  height: 29px;
  margin-bottom: 10px; 
}

.button {
  width: calc(100% - 22px); 
  height: 33px;
  background-color: #1E2E6F;
  color: white;
  border-radius: 7px;
  margin-top: 7px;
  font-size: 14px; 
}


.loginForm {
  width: 460px;
  padding: 60px;
}

.createAccLink {
  font-weight: 600;
  font-size: 13px;
  color: black;
  margin-right: 21px;
}
.rememberMe{
  font-size: 14px;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .div1,
  .div2 {
    margin-bottom: 20px;
  }
}

span {
  color: red;
}
button[disabled]{
  background-color: #556294;
}