.body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.config-container {
    margin: -15px 12px;
}

.card {
    padding: 8px 20px;
}

.companyname {
    display: flex;
}

.companyInputField {
    height: 25px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

input {
    width: 140px;
    height: 40px;
}

.companyButton {
    height: 25px;
    width: 26px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #1E2E6F;
}

.companyParticularName {
    background-color: #efeeee;
    font-size: 11px;
    padding: 3px;
    margin-top: 7px;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.deleteCompanyButton {
    width: 21px;
    height: 23px;
    font-size: 8px;
    margin-bottom: -6px;
    color: rgb(105, 103, 103);
    background-color: #efeeee;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.plusButton {
    border-radius: 5px;
    background-color: #1E2E6F;
    width: 17px;
    height: 17px;
    border: 1px solid #1E2E6F;
}

.environment,
.services {
    margin-top: -10px;
}

table {
    width: 100%;
    border-radius: 5px;
}

.table th {
    background-color: #c5cceb;
    padding: 6px 10px;
    font-size: 12px;
}

.table tr {
    border: 3px solid #e9ebf3;
}

td {
    padding: 5px 10px;
    font-size: 11px;
}

.pageNumber {
    display: flex;
    justify-content: flex-end;
    margin-top: -15px;
    font-size: 13px;
}

::ng-deep .p-paginator {
    font-size: 12px;
}

::ng-deep .p-paginator.p-element {
    margin-top: -20px;
}

::ng-deep .p-inputtext {
    font-size: 11px !important;
}

.saveButton {
    font-size: 10px;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: bold;
    background-color: #1E2E6F;
    color: white;
}

.cancelButton {
    font-size: 10px;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: bold;
    color: #1E2E6F;
    margin-right: 7px;
}