.body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.service-container {
    margin: -15px 12px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.grid {
    height: auto;
}

.data-not-found-style {
    background-color: #ff000096;
    color: white;
    border-radius: 0.5rem;
}

.data-not-found-style p {
    margin-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

label {
    font-weight: bold;
    padding-bottom: 6px;
    font-size: 14px;
}

.saveButton,
.cancelButton {
    font-size: 11px;
    padding: 0px 14px;
    height: 30px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    margin-bottom: 8px;
    margin-right: 1rem;
    margin-top: 28px;
}

.saveButton {
    background-color: #1e2e6f;
}

.cancelButton {
    color: #1e2e6f;
    background-color: transparent;
    border: 1px solid #1e2e6f;
    margin-right: 2rem;
}

button[disabled] {
    background-color: #556294;
}

@media (max-width: 1024px) {
    .service-container {
        margin: 0;
        padding: 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 1;
        grid-row: 4;
        justify-content: center;
        align-items: center;
    }

    label {
        width: 260px;
        display: flex;
        align-items: center;
    }

    .error {
        width: 320px;
    }

    .button-container {
        display: flex;
        margin-left: 59px;
    }

    .form-group {
        margin: 10px 0px
    }
}

.noButton {
    font-size: 9px;
    padding: 4px 10px;
    border-radius: 5px;
    margin-right: 5px;
}

.yesButton {
    font-size: 9px;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: #1E2E6F;
    color: white;
}

/* toast */
::ng-deep .p-toast .p-toast-message .p-toast-message-content {
    height: 68px;
    padding: 7px 0px;
}

::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-icon:not(.p-toast-icon-close-icon) {
    margin-left: 7px !important;
    margin-top: 15px !important;
    width: 25px !important;
    height: 25px !important
}

::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
    padding-left: 20px !important;
    padding-top: 10px !important;
}

::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
    padding-left: 20px !important;
}

/* autocomplete */
::ng-deep .p-inputtext {
    padding-left: 10px;
    border-right: 1px solid white !important;
}

::ng-deep .p-autocomplete-dd .p-autocomplete-dropdown {
    background-color: white;
    border-top: 1px solid rgb(190, 190, 190);
    border-right: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid white !important;
}

::ng-deep .p-autocomplete-dd .p-autocomplete-dropdown:hover {
    border: 1px solid #3B82F6;
    border-left: 1px solid white !important;
}

::ng-deep .p-icon {
    color: black;
}

::ng-deep .p-autocomplete-panel .p-autocomplete-items {
    padding-left: 0px !important;
    margin-bottom: 0px !important;
}

::ng-deep .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
    padding: 10px !important;
}

::ng-deep .p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.2rem white !important;
}

/* ::ng-deep .p-autocomplete .p-inputtext:hover+.p-autocomplete-dropdown.p-button{
    border-bottom: 1px solid #575757 !important;
} */