<app-loader [isVisible]="isLoading"></app-loader>
<app-header></app-header>

<div class="body">
    <app-nav-bar></app-nav-bar>

    <div class="service-container">
        <form #cleanForm="ngForm" (ngSubmit)="onSubmit(cleanForm)">
            <div class="grid">
                <div class="col-3">
                    <label for="companyCode">Company Code*</label>
                    <p-autoComplete name="companyCode" [(ngModel)]="companyName" [dropdown]="true" [suggestions]="filteredCompanies" [appAutofocus]="true"
                        (completeMethod)="filterCompany($event)" [style]="{'width': '17rem', 'height': '24px'}" required #companyCode="ngModel"></p-autoComplete>
                    <div *ngIf="companyCode.invalid && (companyCode.dirty || companyCode.touched)" class="error" style="color: red; font-size: 12px;">
                        Company Code is required
                    </div>
                </div>
                <div class="form-group col-3">
                    <label for="serviceCode">Service Name</label>
                    <p-autoComplete name="serviceCode" [(ngModel)]="serviceName" [dropdown]="true" [suggestions]="filteredServices" (completeMethod)="filterServices($event)" [style]="{'width': '17rem', 'height': '24px'}" #serviceCode="ngModel"></p-autoComplete>
                </div>
                <div class="form-group col-3">
                    <label for="objectName">Object Name</label>
                    <input name="objectName" [disabled]="serviceName == null || serviceName == ''" [(ngModel)]="objectName" class="form-control" appAutofocus [style]="{'width': '17rem', 'height': '24px', 'border-radius': '5px', 'border':'1px solid rgb(160, 152, 143)'}"/>
                </div>
                <div class="button-container  col-3">
                    <button type="submit" class="saveButton" [disabled]="cleanForm.invalid">Clear</button>
                
                    <button type="reset" class="cancelButton">Reset</button>
                </div>  
                <div class="col-12 data-not-found-style" *ngIf="dataNotFound">
                    <p>Data not found</p>
                </div>
            </div>
        </form>
    </div>
    <p-toast></p-toast>

    <!-- delete dialog -->
    <p-dialog [(visible)]="visible" [position]="position" [style]="{'margin-top.px': 60}" [modal]="true">
        <div style="padding: 10px 10px;">
            <div style="display: flex; justify-content: center;"><i class="pi pi-question-circle"></i></div>
            <p style="display: flex; justify-content: center; margin-top: 5px;">Do You Want to Clear Cache?...</p>
            <div style="display: flex; justify-content: flex-end;">
                <button type="button" class="noButton" (click)="noButton()">No</button>
                <button type="button" class="yesButton" (click)="yesButton(servicesAllData)">Yes</button>
            </div>
        </div>
    </p-dialog>

</div>